/* .container
{} */
.image-container {
    margin-left: 4rem;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width <=800px) {
    .image-container {
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}

/* .container {
    background-color: #d1d1d1;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
} */

.desc-container {
    display: flex;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    background-color: #d1d1d1;
    /* background-color: #f5f5dc; */
}

.desc-container h1,
.desc-container h2,
/* the div that holds all of the images for tech used
had some coloured background, which also needs to be transparent */
.project-tech-images,
.project-tech-container {
    background-color: transparent;
}

/* the tech images need to be in their own container in desc-container.
this is because the images need to be in the desc container, 
but the div that displays them needs to be flex to have
the images align horizontally next to each other */
.project-tech-container {
    display: flex;
    flex-wrap: wrap;
}

.project-tech-images {
    display: flex;
    margin: 0.5rem;
    /* align-items: center; */
    /* justify-content: center; */
}