/* .container
{} */
.image-container {
    margin-left: 4rem;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-container {
    margin-left: 4rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    background-color: #d1d1d1;
    /* background-color: #f5f5dc; */
}

.desc-container h1,
.desc-container h2 {
    background-color: #d1d1d1;
}