.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content:space-between;
    align-items: center; 
    height: 6rem;
    width: 100%;
    margin: 0 6px;
    padding: 0 1rem;
}

.navbar strong {
    left: 1rem;
    letter-spacing: 2px;
    font-size: x-large;
}

.navbar strong,
.link-icons h5 {
    font-family: "SF Pro Text";
}

.link-icons {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    right: 0;
}

.link-icons h5 {
    cursor: pointer;
    font-size: large;
    margin: 20px;    
}

#paul-lamy {
    color: #147da3;
}

.menu-button {
    cursor: pointer;
    margin: 0 20px;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}