/* continuum fonts */
/* light */
@font-face {
  font-family: "ContinuumLight";
  src: local("contl") url("./assets/fonts/contl.ttf") format("truetype");
}

/* bold */
@font-face {
  font-family: "ContinuumBold";
  src: local("contb") url("./assets/fonts/contb.ttf") format("truetype");
}

/* medium */
@font-face {
  font-family: "ContinuumMedium";
  src: local("contm") url("./assets/fonts/contm.ttf") format("truetype");
}

* {
  font-family: "ContinuumLight";
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  width: 100%;
  /* Optional: sets the width of the container */
}

/* .container .navbar, 
.container .hero,
.container .footer {
  display: block;
}   */

.navbar,
.hero,
.footer {
  padding: 20px;
  /* Adds some spacing */
  display: block;
}

.hero {
  /* display: block; */
  flex-grow: 1;
}

.tech {
  display: block;
  border-radius: 20px;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  cursor: pointer;
  width: 80%;
  display: flex;
  margin: 2rem;
  background-color: #aaa6a4;
  border-radius: 20px;
  border-color: blueviolet;
}

.project:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

/* .projects {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;
} */

.project-elem {
  display: block;
  background-color: aquamarine;
}