.container {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  width: 100%; /* Optional: sets the width of the container */
}

/* .container .navbar, 
.container .hero,
.container .footer {
  display: block;
}   */

.navbar, .hero, .footer {
  padding: 20px; /* Adds some spacing */
}

.hero {
  flex-grow: 1;
}