.container {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  width: 100%; /* Optional: sets the width of the container */
}

/* .container .navbar, 
.container .hero,
.container .footer {
  display: block;
}   */

.navbar, .hero, .footer {
  padding: 20px; /* Adds some spacing */
  display: block;
}

.hero {
  /* display: block; */
  flex-grow: 1;
}

.tech {
  display: block;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 100%;
  display: flex;
  margin: 2rem;
}

/* .projects {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;
} */

.project-elem {
  display: block;
  background-color: aquamarine;
}

