@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "ContinuumLight";
  src: url('./assets/fonts/ContinuumLight.ttf') format("truetype");
}

@font-face {
  font-family: "ContinuumBold";
  src: url('./assets/fonts/ContinuumBold.ttf') format("truetype");
}

@font-face {
  font-family: "ContinuumMedium";
  src: url('./assets/fonts/ContinuumMedium.ttf') format("truetype");
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
}


* {
  background-color:whitesmoke;
  font-family: "SF Pro Display";
  /* font-family: "Light" */
  /* font-size: 1rem; */
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
