.container {
    display: block;
}

.container .title {
    font-size: 2rem;
}

.grid {
    /* background-color: ; */
    margin: 2rem 6rem 6rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 4rem;
    column-gap: 4rem;
    text-align: center;
    /* horizional */
    justify-content: center;
    /* vertical */
    align-items: center;
}

.tech-grid-item h3 {
    background-color: #b3b2af;
}

.tech-grid-item {
    cursor: pointer;
    background-color: #b3b2af; 
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.tech-grid-item:hover {
    transform: scale(1.15);
    transition: all .2s ease-in-out;
}

.tech-grid-container {
    height: auto;
    border-radius: 20px;
    background-color: #b3b2af;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.title {
    font-size: x-large;
}