.container {
    height: 100%;
}


.container .text {
    font-family: "ContinuumBold";
    margin-top: 10px;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    text-align: center;
    font-size: 5rem;
    color: #63b9ff;
}