body {
    /* margin-top: 6rem; */
}

.container {
    height: 100%;
}


.container .text {
    font-family: "ContinuumBold";
    margin-top: 20px;
    padding: 6rem;
    text-align: center;
    font-size: 5rem;
    color: #63b9ff;
}